.body-bg{
    background-image: url(/images/awesome-blue-sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width:90%;
    height:90vh;
    overflow:auto;
}
input[type=text]{

    width: 50%;
    padding: 15px 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 17%;

}
button[type=submit]{

    background-color: rgba(34,139,34, 0.9);
    width: 20%;
    padding: 15px 20px;
    margin-left: 25%;
    margin-top: 1%;

}
form#category-form{



}